<div class="row">
    <div class="col-md-12">
        <!-- Logo -->
        <div class="logo text-center"></div>
        <div class="text-center forms">
            <form class="form form-horizontal" #userForm="ngForm"
                  (ngSubmit)="send()">

                <h2>Reset your password</h2>
                <hr>
                <div *ngIf="!sendOK" class="username"
                     [class.has-error]="username.invalid && username.touched">
                    <label style="margin-left: 40px; margin-right: 50px;color: #4543a7;font-size: 17px;">Enter your email address and we will send you a link to reset your password.</label>
                    <input type="email" class="form-control"
                           name="username" required email [(ngModel)]="credentials.username"
                           #username="ngModel">
                    <label
                           class="control-label"
                           *ngIf="username.errors && username?.errors.required && username.touched">
                        <i class="fa fa-times-circle-o"></i> Email is required
                    </label>
                    <label class="control-label"
                           *ngIf="username.errors && username?.errors.email && username.touched">
                        <i class="fa fa-times-circle-o"></i> Email is not valid
                    </label>
                </div>

                <button *ngIf="!sendOK" [disabled]=" userForm.invalid"
                        class="btn btn-primary btn-submit" type="submit">
                  <span><i [ngClass]="isLoading  ? 'fa fa-gear fa-spin':'fa '"></i>
                    Send password reset email
                  </span>
                </button>

                <div *ngIf="sendOK">
                    <label style="margin-left: 40px; margin-right: 30px;color: #4543a7;font-size: 17px;">
                        Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.
                    </label>

                </div>
                <div *ngIf="sendOK"  >
                    <button routerLink="/signin" type="submit"
                            class="btn btn-primary btn-submit" >
                        Return to sign in
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
